@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    font-family: "Helvetica";
    overflow-y: hidden;
}

label{
    font-size: 14px;
    color: #425864;
    font-weight: 700;
}

